@font-face {
    font-family: "SketchedFilledAndCovered-Regular";
    src: url('Fonts/FilledCover/SketchedFilledAndCovered-Regular.ttf')  format('truetype');
}

h3.example {
    color: black;
    font-family: SketchedFilledAndCovered-Regular;
    font-size: 250%;
}

p.copyright {
    color: black;
    font-family: Inter;
    font-size: 50%;
}

h1 {
   color: black;
   font-family: Inter;
   font-size: 290%;
}
